body {
    font-family: Arial, sans-serif;
    background-color: #3498db; /* Blue background color */
    color: #fff; /* White text color */
  }
  .container {
    max-width: 800px;
    margin: 0 auto;
    padding: 20px;
    background-color: #fff;
    border-radius: 5px;
  }
  h1 {
    text-align: center;
    color: black;
  }
  form {
    display: flex;
    flex-direction: column;
  }
  label {
    margin-top: 10px;
    color: black;
  }